.FooterWrapper {
    height: 500px;
    width: 100vw;
    background-color: lightgray;
}

.Footer {
    margin: 0 auto 0 auto;
    display: flex;
}


@media screen and (min-width: 1480px) {
    .Footer {
        width: 1384px;
    }
}

/* LARGER SIZE TABLETS */
@media screen and (min-width: 1280px) and (max-width: 1479px)  {
    .Footer {
        width: calc(100vw - 92px);
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px)  {
    .Footer {
        width: calc(100vw - 72px);
    }
}

/* Tablets */
@media screen and (min-width: 730px) and (max-width: 959px)  {
    .Footer {
        width: calc(100vw - 72px);
    }
}

/* MOBILE */
@media screen and (max-width: 729px)  {
    .Footer {
        width: calc(100vw - 48px);
    }
}
