.HeaderItem{
    display: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.Item {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    padding: 20px 30px;
    transition: color .19s linear .2s; 
}

.HeaderItem:nth-child(4) a {
    padding-right: 0;
}

.Item.active {
    transition: color .19s linear, opacity .19s linear; 
    color: #2e2e2e;
    opacity: 0.5;
}

@media screen and (min-width: 960px) {
    .HeaderItem {
        display: flex;
    }
}

.Item.active.selected{
    transition: opacity .19s linear;
    opacity: 1;
}

/* .Item.active.selected::after {
    transition: width .19s linear;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    display: block;
    background: #aaa;
    height: 2px;
}

.Item.active.selected::after{
    width: 100%;
    display: block;
} */
