@font-face { font-family: Platform; src: url('./assets/fonts/Platform-Light.otf'); } 

body {
  margin: 0;
  font-family: 'Hind Guntur';
  /* line-height: 18px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  width: 100vw;
}

a { text-decoration: none; }

ul { 
  list-style: none; 
  padding: 0;
}